@model ItemsRental_FE.ViewModel.RentalViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentalViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workspace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workspace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRented)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRented)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReturned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReturned)
        </dd>

    </dl>
</div>

<div>
    <h4>Items Rented</h4>
    <ul>
        @foreach (var item in Model.RentedItems)
        {
            <li>@item.Tool</li>
        }
    </ul>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
