@model ItemsRental_FE.ViewModel.InventoryViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToolId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assetnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assetnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brandname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brandname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveRetired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveRetired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckedOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>
    <div class=" form-group">
        <img id="imageSource" src="~/UploadedFiles/@Model.image" style="height:280px;width:200px" />
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ToolId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
