@model IEnumerable<ItemsRental_FE.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", htmlAttributes: new { @class = "glyphicon glyphicon-file" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-pencil" }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-list-alt" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}
